[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
gunicorn = "*"
psycopg2-binary = "*"
djangorestframework = "*"
ipdb = "*"
drf-nested-routers = "*"
dj-database-url = "*"
whitenoise = "*"
django-filter = "*"
django-cors-headers = "*"
pillow = "*"

[requires]
python_version = "3.8"
